[Unit]
Description=Check for a new green zCloud main revision

[Timer]
OnBootSec=90s
OnUnitActiveSec=2min
Persistent=true
RandomizedDelaySec=10s
Unit=zcloud-autodeploy.service

[Install]
WantedBy=timers.target
